.navigation-list {
  flex-grow: 10;
}

.navigation-list div {
  justify-content: center;
}

.navigation-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.navigation-profile {
  flex-grow: 1;
  justify-content: center;
  display: flex;
}
