.main-content {
  flex-grow: 8;
  padding-top: 16px;
  padding-left: 16px;
}

.navigation-sidebar {
  display: flex;
  flex-grow: 1;
  border-right: 1px solid #fff;
}

.app-content {
  display: flex;
  flex-grow: 1;
  background-color: #202020;
  color: #fff;
}
