.main {
  flex: 8 85%;
  padding: 0em 1.5em;
  overflow: auto;
}

.sidebar {
  padding: 0em 1.5em;
  border-right: 1px solid #fff;
  display: flex;
  flex: 1 15%;
}

.app {
  display: flex;
  flex-grow: 1;
  background-color: #202020;
  color: #fff;
  min-height: 100vh;
  max-height: 100vh;
}
