.main {
  flex: 8 85%;
  padding: 0em 1.5em;
}

.sidebar {
  display: flex;
  flex: 1 15%;
  padding: 0em 1.5em;
  border-right: 1px solid #fff;
}

.app {
  display: flex;
  flex-grow: 1;
  background-color: #202020;
  color: #fff;
  min-height: 100vh;
}
